.DatasetInterface {
  text-align: center;
  min-width: 100vw;
}

.DatasetInterface-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .DatasetInterface-logo {
    animation: DatasetInterface-logo-spin infinite 20s linear;
  }
}

.DatasetInterface-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.DatasetInterface-link {
  color: #61dafb;
}

@keyframes DatasetInterface-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tablica {
  border-radius: 5px;
}

.hrsep {
  margin-left: 10px;
  margin-right: 10px;
}
